.input-group.datepicker {
  display: inline-block;
  input {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-right: 45px;
  }
  .input-group-addon {
    cursor: pointer;
    width: 45px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    bottom: 0;
    display: inline-block;
  }

}
